



body {

  background-color: #FFF305;
}

.container {
  color: #FFF305;
}
li {
  padding: 25px;
  font-size: 14px;

}
.uploadContainer {
  max-width: 750px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}
